@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

body{
background: linear-gradient(rgba(201, 226, 183, 0.232), rgba(170, 174, 167, 0.789)), url("https://i.ibb.co/5KsSH3P/25-D0-E54-A-B920-4-F80-AEB4-88277340-EBA3.png") no-repeat;  
background-size: 80rem 60rem;
background-position:center;
background-attachment: fixed;
margin:auto;
width: fit-content;
}

/* Ipad/tablet */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
body {
background: linear-gradient(rgba(201, 226, 183, 0.232), rgba(170, 174, 167, 0.789)), url("https://i.ibb.co/5KsSH3P/25-D0-E54-A-B920-4-F80-AEB4-88277340-EBA3.png") no-repeat;  
background-size: 45rem 68rem;
background-position: center;
background-attachment: fixed;
margin:auto;
width: fit-content;
  }
}

/* mobile */
@media screen and (max-device-width: 640px) {
body{
background: linear-gradient(rgba(201, 226, 183, 0.232), rgba(170, 174, 167, 0.789)), url("https://i.ibb.co/5KsSH3P/25-D0-E54-A-B920-4-F80-AEB4-88277340-EBA3.png") no-repeat;  
background-size: 28rem 80rem;
background-position: center;
background-attachment: fixed;
margin:auto;
width: fit-content;
    }
}

.main-content{
    padding-top: 10rem;
    margin: auto;
}

/* mobile */
@media screen and (max-device-width: 640px) {
    .main-content{
        margin: auto;
        padding-top: 10rem;
        }
    }

.title {
font-weight: 200;
font-family: 'Clicker Script', cursive;
transform: rotate(-2deg);
font-size: 5rem;
padding-bottom: 5px;
color: rgba(109, 153, 116, 1);
}

.subtitle{
font-weight: 1000;
font-family: 'Playfair Display', serif;
padding: 20px;
color: rgba(109, 153, 116, 1);
font-size: 1.3rem;
}

.date{
font-size: 1.4rem;
font-family: 'Playfair Display', serif;
}

.day{
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 1;
}

.registry{
padding-bottom: 50%;
display: block;
margin: auto;
width: fit-content;
}

/* Ipad/tablet */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
.registry{
    margin: auto;
    width: fit-content;
  }
}

/* mobile */
@media screen and (max-device-width: 640px) {
.registry{
    margin: auto;
    width: fit-content;
    }
}
.regtxt{
margin-right: auto;   
margin-bottom: 25px;
font-weight: 200;
font-family: 'Playfair Display', serif;
font-size: 30px;
color: rgb(0, 0, 0);
}

/* mobile */
@media screen and (max-device-width: 640px) {
    .regtxt{  
width: 80%;
font-weight: 200;
font-family: 'Playfair Display', serif;
font-size: 25px;
margin-left: 2rem;
color: rgb(0, 0, 0);
display: inherit
        }
    }

.regsec{
    display: block;
}

.rsvp{
padding-bottom: 50%;
/* display: block; */
margin:auto;
width: fit-content;
}

/* Ipad/tablet */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
.rsvp {
    /* display: block; */
    margin-top: -10rem;
    width: fit-content;
    padding-bottom: 70rem;
    
  }
}

/* mobile */
@media screen and (max-device-width: 640px) {
.rsvp{
    /* display: inline-block; */
    margin: auto;
    width: fit-content;
    }
}

.seeya{
text-align: center;
font-weight: 200;
font-family: 'Playfair Display', serif;
transform: rotate(-2deg);
font-size: 30px;
margin: auto;
color: rgb(0, 0, 0);
width: fit-content;
}

/* Ipad/tablet */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    
.seeya {
    /* display: block; */
margin: auto;
width: fit-content;
text-align: center;
font-weight: 200;
font-family: 'Playfair Display', serif;
font-size: 25px;
color: rgb(0, 0, 0);
display: inherit;
  }
}

/* mobile */
@media screen and (max-device-width: 640px) {
.seeya{
text-align: justify;
font-weight: 200;
font-family: 'Playfair Display', serif;
font-size: 25px;
color: rgb(0, 0, 0);
display: inherit;
margin: auto;
width: fit-content;
    }
}
